body {
    margin: 0px;
    padding: 0px;
}
#main-header {
    width: 100vw;
    height: 88.91px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6c6c6c;
}
#header-container {
    width: 1180px;
    height: 88.91px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar-container {
    width: 1100px;
    height: 38.91px;
    display: flex;
    align-items: center;
}
#left-navbar-container {
    width: 745.34px;
    height: 38.92px;
    display: flex;
    align-items: center;
}
#header-logo {
    width: 119px;
    height: 38.91px;
}
#list-section {
    width: 556.34px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 0px;
    justify-content: space-between;
}
.list-names {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: Manrope;
    font-size: 15px;
}
#search-bar {
    padding-left: 15px;
    padding-right: 15px;
}
#right-navbar-container {
    width: 270.52px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;
}
#hidden-medee {
    display: none;
    font-size: 15px;
    font-family: Manrope;
}
.medee:hover+#hidden-medee {
    display: block;
    color: black;
    height: 200px;
    position: absolute;
    top: 84px;
    transform: scale(1);
    background: white;
}
#hidden-gogo {
    display: none;
    font-size: 15px;
    font-family: Manrope;
}
.gogo:hover+#hidden-gogo {
    display: block;
    color: black;
    height: 467px;
    position: absolute;
    top: 50px;
    transform: scale(1);
    background-color: white;
}
#hidden-uzeh {
    display: none;
    font-size: 15px;
    font-family: Manrope;
}
.uzeh:hover+#hidden-uzeh {
    display: block;
    color: black;
    height: 467px;
    position: absolute;
    top: 50px;
    transform: scale(1);
    background-color: white;
}

#hidden-hev {
    display: none;
    font-size: 15px;
    font-family: Manrope;
}
.hev:hover+#hidden-hev {
    display: block;
    color: black;
    height: 467px;
    position: absolute;
    top: 50px;
    transform: scale(1);
    background-color: white;
}
#coffee-ad-container {
    width: 1180px;
    height: 763px;
}
#coffee-text-section {
    width: 557.5px;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #f4f4f4 7%, hsla(0, 0%, 100%, .220348) 17%);
    border-radius: 10px;
}
#coffee-text-subsection{
    width: 503px;
    height: 265px;
}
#coffee-image-section {
    width: 542.5px;
    height: 385px;
    position: relative;
    transition: 0.5s;
    display: flex;
    justify-content: end;
    overflow: hidden;
    border-radius: 5px;
}
#banner-share-icon{
    width: 56.35px;
    height: 36px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0efef;
    opacity: 0.4;
}
#banner-share-icon1{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
#banner-share-icon-container{
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#business-botton {
    font-size: 12px; 
    background: linear-gradient(129deg, #c40097, #d6710b); 
    background-image: linear-gradient(-120deg, #e08100, #c90027);
    line-height: 20px;
    color: white;
    border-radius: 100px;
    width: 73.02px;
    height: 30px;
    border: none;
}
#coffee-h2{
    font-family: Manrope;
    text-decoration: none;
    color: black;
}
#coffee-p2{
    font-family: Manrope;
    text-decoration: none;
    color: black;
    opacity: 0.4;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}
#share-number{
    font-family: Manrope;
    text-decoration: none;
    color: black;
    opacity: 0.4;
}
#coffee-img{
    width: 542.5px;
    height: 385px;
    margin-left: 6px;
    transition: 0.3s;
}
#coffee-hover{
    width: 542.5px;
    height: 385px;
    margin-left: 6px;
    background-color: black;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    border-radius: 5px;
}
#hover-text{
    color: white; 
    position:absolute; 
    top: 180px; 
    left: 210px;
    opacity: 0;
    font-size: 16px;
    font-weight: 700;
    font-family: Manrope;
    transition: 0.3s;
}

#coffee-image-section:hover #hover-text{
    opacity: 1;
}
#coffee-image-section:hover #coffee-img{
    transform: scale(1.09);
}
#coffee-image-section:hover{
    cursor: pointer;
    border-radius: 5px;
}
#coffee-image-section:hover #coffee-hover{
    opacity: 0.4;
}
#news-main-container{
    width: 1100px;
    height: 333px;
    margin-top: 30px;
    display: flex;
    font-family: Manrope;
    overflow: hidden;
}
#news-text{
    margin-top: 3.28px;
    margin-bottom: 1.28px;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.photo-container{
    transition: 0.3s;
    overflow: hidden;
}
.news-hover{
    width: 261.75px;
    height: 175px;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    opacity: 0;
    transition: 0.3s;
}
.news-hover-text{
    width: 76.27px;
    height: 23px;
    font-size: 16px;
    line-height: 1.4;
    color: white;
}
.first-news-size:hover{
    cursor: pointer;
}
.first-news-size:hover .photo-container{
    transform: scale(1.09);
}
.first-news-size:hover .news-hover{
    opacity: 0.4;
}
.first-news-size:hover .news-hover-text{
    opacity: 1;
}
.news-hover-text{
    color: white;
}
.size{
    width: 278.75px;
    height: 283px;
    padding-left: 15px;
}
.first-news-size{
    width: 278.75px;
    height: 283px;
    position: relative;
}
.news-share-size{
    display: flex;
}
#news-share-section{
    display: flex;
}
#news-share-icon{
    width: 13px;
    height: 13px;
    opacity: 0.4;
    margin-top: 4px;
    margin-left: 3px;
}
#comment-section{
    display: flex;
    margin-left: 5px;
}
.second-news-share-size{
    margin-top: 20px;
    display: flex;
}
.third-news-share-size{
    margin-top: 19px;
    display: flex;
}
#fourth-news-size{
    width: 278.75px;
    height: 283px;
    padding-left: 15px;
}
#main-footer-container {
    width: 100vw;
    height: 247.65;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer-section {
    width: 1180px;
    height: 147.65px;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
}
#upper-section {
    height: 65.25px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
}
#middle-section {
    width: 1100px;
    height: 1px;
    background-color: rgba(0, 0, 0, .05);
    margin-top: 30px;
    margin-bottom: 30px;
}
#lower-section {
    width: 1140px;
    height: 21.4px;
}
#upper-section-logo {
    width: 189.96px;
    height: 65.25px;
}
#upper-section-text-section {
    width: 949.84px;
    height: 65.25px;
}
#upper-section-text {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: end;
    font-size: 15px;
    font-family: Manrope;
    font-weight: 500;
}
#margin-test {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}
.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
li::marker {
    color: blue;
}
#main-story-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
#story-section{
    width: 1100px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#story-title-container{
    display: flex;
    width: 1180px;
    height: 25px;
    align-items: center;
}
#gogo-title{
    font-size: 26px;
    font-weight: 700;
    color: black;
    font-family: Manrope;
    margin: 0px;
}
#story-title{
    margin: 0px;
    width: 68.05px;
    height: 24px;
    background-color: #00b0f4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Manrope;
    padding-left: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
#story-image-container{
    width: 1100px;
    height: 235px;
    display: flex;
}
#image-container{
    position: relative;
    margin-left: 15px;  
    border-radius: 5px;
    overflow: hidden;
}
#image-size{
    width: 170.8px;
    height: 235px;
    position: relative;
    transition: .5s ease;
}
#logo-container{
    width: 170.8px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#news-intrduction{
    width: 150.8px;
    height: 37px;
    margin: 0px;
    position: absolute;
    bottom: 27px;
    left: 10px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    overflow: hidden;
    transition: .5s;
    font-family: Manrope;
    font-size: 13px;
}
#seen-icon{
    width: 13.5px;
    height: 13px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    color: white;
}
#seen-number{
    font-size: 12px;
    color: white;
    position: absolute;
    bottom: 8px;
    left: 27px;
}
#image-container:hover{
    cursor: pointer;
}
#image-container:hover #news-intrduction{
    height: 80px;
    bottom: 5px;
    opacity: 1;
}
#image-container:hover #image-size{
    transform: scale(1.09);
}
.huge-news-background{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.news-background{
    width: 1100px;
    margin-top: 50px;
    display: flex;
    box-sizing: border-box;
}
.left-top-container{
    width: 750px;
    height: 39px;
    display: flex;
    list-style-type: none;
    align-items: end;
}
.date{
    width: 103.81px;
    height: 29px;
    padding-left: 15px;
}
.blue-box{
    width: 103.81px;
    height: 7px;
    background-color: grey;
    border-radius: 5px;
}
.grey-date{
    width: 103.81px;
    height: 22px;
    font-size: 13px;
    font-family: Manrope;
    color: black;
    display: flex;
    justify-content: center;
}
.calendar-button{
    width: 27px;
    height: 27px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 0px;
    background-color: grey;
    border-style: none;
}
.plant-icon{
    width: 23px;
    height: 26px;
    margin-left: 5px;
}
.today-text{
    font-size: 16px;
    font-family: Manrope;
    font-weight: 700;
    color: #407ce8;
}
.plant{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: -38px;
}
.blue-grey{
    margin-top: 12px;
}
.left-middle-container{
    width: 690px;
    margin-top: 40px;
}
.middle-news-container{
    width: 690px;
    height: 150px;
    display: flex;
    margin-bottom: 30px;
    position: relative;
}
.news-img-container{
    width: 210px;
    height: 150px;
    transition: 0.3s;
    overflow: hidden;
    position: relative;
}
.news-text-container{
    width: 480px;
    height: 150px;
    padding-left: 30px;
}
.middle-hover{
    width: 200px;
    height: 150px;
    transition: 0.3s;
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-hover-text{
    width: 200px;
    height: 150px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: Manrope;
    opacity: 0;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.news-header-text{
    margin: 0px;
    font-size: 19px;
    font-family: Manrope;
    font-weight: 700;
}
.news-p-text{
    width: 460px;
    height: 40px;
    overflow: hidden;
    font-size: 14px;
    font-family: Manrope;
    color: #888888;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
    margin-bottom: 15px;
}
.share-comment-container{
    width: 450px;
    height: 22px;
    display: flex;
}
.news-share-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.share-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.news-comment-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.comment-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.news-clock-container{
    width: 200px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
}
.clock-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
#middle-statistic-container{
    width: 690px;
    height: 322px;
    display: flex;
    margin-bottom: 10px;
    background-color: #007aff;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: Manrope;
}
#top-text-container{
    width: 650px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
}
#statistic-container{
    width: 650px;
    height: 182px;
}
.section-1{
    width: 665px;
    height: 75px;
    display: flex;
}
.count-container-1{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 90px;
    justify-content: center;
}
.list-1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 575px;
    border: 1px solid #0E70ED;
}
.section-2{
    width: 665px;
    height: 53px;
    display: flex;
}
.count-container-2{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 90px;
    justify-content: center;
}
.list-2{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 575px;
    border: 1px solid #0E70ED
}
.section-3{
    width: 665px;
    height: 53px;
    display: flex;
}
.count-container-3{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 90px;
    justify-content: center;
}
.list-3{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 575px;
    border: 1px solid #0E70ED
}
#total-text-container{
    width: 650px;
    height: 22px;
    margin-top: 10px;
    display: flex;
    font-size: 14px;
}
.left-bottom-button{
    width: 690px;
    height: 65.37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 10px;
    background-color: #f8f8f8;
}
.left-bottom-button-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    font-weight: 700;
}
.left-bottom-button-icon{
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.right-news-section{
    width: 410px;
    border-left: 1px solid rgba(0,0,0,.04);
}
.right-top-container{
    margin-bottom: 50px;
}
.right-top-icon{
    width: 25px;
    height: 30px;
}
.right-top-text{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    font-family: Manrope;
}
.right-middle-news-img{
    width: 290px;
    height: 170px;
}
.right-middle-news-img1{
    width: 290px;
    height: 170px;
}
.right-middle-news-text{
    width: 290px;
    height: 40px;
    font-family: Manrope;
    font-size: 15px;
    color: black;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
}
.right-middle-news-others{
    display: flex;
    margin-top: 5px;
    align-items: center;
    width: 290px;
    height: 20px;
}
.right-middle-news-others-icon{
    width: 12px;
    height: 12px;
    opacity: 0.4;
}
.right-middle-news-others-text{
    margin-left: 5px;
    margin-right: 5px;
    opacity: 0.4;
    font-size: 12px;
    font-family: Manrope;
}
.right-bottom-container{
    width: 340;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fdfaf5;
}
.right-bottom-top-container{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-bottom-middle-news{
    width: 340;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    padding-bottom: 20px;
}
.right-bottom-middle-news{
    width: 270px;
    border-bottom: 1px dotted rgb(131, 129, 129);
}
.left-text{
    margin-right: 20px;
    margin-left: 20px;
    display: flex; 
    justify-content: flex-start; 
    height: 110px;
    box-sizing: border-box;
}
.right-text{
    width: 229.42px;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}
.huge-interview-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.top-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.top-title-icon{
    width: 25px;
    height: 20px;
}
.top-title-text{
    font-size: 20px;
    font-family: Manrope;
    font-weight: 700;
    margin-left: 10px;
}
.interview-background{
    width: 1100px;
}
.interview-section{
    display: flex;
    justify-content: space-between;
}
.left-interview{
    width: 542.5px;
    height: 501px;
    position: relative;
}
.right-interview{
    width: 542.5px;
    height: 501px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.left-interview-image1{
    width: 542.5px;
    height: 500px;
    border-radius: 5px;
}
.left-interview-text{
    width: 542.5px;
    height: 190.41px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    color: white;
    font-family: Manrope;
}
.left-interview-text1{
    width: 94.688px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #407ce8;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.left-interview-text2{
    width: 482.5px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
}
.left-interview-text3{
    width: 482.5px;
    height: 33.42px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 10px;
    font-weight: 700;
    border-top: 0.5px dotted grey;
    display: flex;
    align-items: center;
}
.hover-arrow{
    margin-left: 5px;
}
.right-upleft-interview1{
    position: relative
}
.right-interview-container1{
    display: flex;
    justify-content: space-between;
}
.right-upleft-img1{
    width: 263.75px;
    height: 243px;
    border-radius: 5px;
}
.right-upleft-text-container1{
    width: 263.75px;
    height: 125px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
    color: white;
    font-family: Manrope;
    position: absolute;
    bottom: 20px;
    left: 0;
    overflow: hidden;
}
.blue-text1{
    width: 76.48px;
    height: 26px;
    background-color: #407ce8;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.hover-text1{
    height: 55px;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}
.right-upright-interview1{
    position: relative;
}
.right-upright-img1{
    width: 263.75px;
    height: 243px;
    border-radius: 5px;
}
.right-upright-text-container1{
    width: 263.75px;
    height: 125px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
    color: white;
    font-family: Manrope;
    position: absolute;
    bottom: 20px;
    left: 0;
    overflow: hidden;
}
.right-blue-text1{
    width: 76.48px;
    height: 26px;
    background-color: #407ce8;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.right-hover-text1{
    height: 55px;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}
.right-interview-container2{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.right-downleft-interview1{
    position: relative
}
.right-downleft-img1{
    width: 263.75px;
    height: 243px;
    border-radius: 5px;
}
.right-downleft-text-container1{
    width: 263.75px;
    height: 125px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    box-sizing: border-box;
    color: white;
    font-family: Manrope;
    position: absolute;
    bottom: 20px;
    left: 0;
    overflow: hidden;
}
.down-blue-text1{
    width: 76.48px;
    height: 26px;
    background-color: #407ce8;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.down-hover-text1{
    height: 55px;
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}
.right-downright-interview1{
    position: relative;
}
.huge-last-background{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
}

/* lifestyle section */

#lifestyle-title-container{
    display: flex;
    width: 1100px;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}
#lifestyle-gogo-title{
    font-size: 26px;
    font-weight: 700;
    color: black;
    font-family: Manrope;
    margin: 0px;
}
#lifestyle-text-title{
    margin: 0px;
    width: 94.09px;
    height: 24px;
    background-color: #00b0f4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Manrope;
    padding-left: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.lifestyle-news-container{
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
.lifestyle-news1{
    width: 263.75px;
    height: 360px;
    border-radius: 5px;
}
.lifestyle-news-img{
    width: 263.75px;
    height: 230px;
    border-radius: 5px;
}
.lifestyle-news-img-container{
    width: 263.75px;
    height: 230px;
}
.lifestyle-bottom-container{
    width: 263.75px;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.lifestyle-share-comment-container{
    width: 450px;
    height: 22px;
    display: flex;
    opacity: 0.4;
}
.lifestyle-share-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.lifestyle-share-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.lifestyle-comment-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.lifestyle-comment-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.lifestyle-news-text{
    margin: 0;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
}
.lifestyle-share-comment-container{
    width: 241.75px;
    height: 20px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dotted #f1f1f1;
}
/* lifestyle section */

/* tech section */
.tech-container{
    margin-top: 60px;
}
#tech-title-container{
    display: flex;
    width: 1100px;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}
#tech-gogo-title{
    font-size: 26px;
    font-weight: 700;
    color: black;
    font-family: Manrope;
    margin: 0px;
}
#tech-text-title{
    margin: 0px;
    width: 94.09px;
    height: 24px;
    background-color: #00b0f4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Manrope;
    padding-left: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.tech-news-container{
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
.tech-news1{
    width: 263.75px;
    height: 300px;
    border-radius: 5px;
}
.tech-news-img{
    width: 263.75px;
    height: 230px;
    border-radius: 5px;
}
.tech-news-img-container{
    width: 263.75px;
    height: 230px;
}
.tech-bottom-container{
    width: 263.75px;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
}
.tech-share-comment-container{
    width: 450px;
    height: 22px;
    display: flex;
    opacity: 0.4;
}
.tech-share-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.tech-share-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.tech-comment-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.tech-comment-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.tech-news-text{
    margin: 0;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
}
.tech-share-comment-container{
    width: 241.75px;
    height: 20px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px dotted #f1f1f1;
}

/* tech section */

/* comic section */

.comic-container{
    margin-top: 60px;
}
#comic-title-container{
    display: flex;
    width: 1100px;
    height: 25px;
    align-items: center;
    margin-bottom: 20px;
}
#comic-gogo-title{
    font-size: 26px;
    font-weight: 700;
    color: black;
    font-family: Manrope;
    margin: 0px;
}
#comic-text-title{
    margin: 0px;
    width: 94.09px;
    height: 24px;
    background-color: #00b0f4;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Manrope;
    padding-left: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.comic-news-container{
    width: 1100px;
    height: 360px;
    display: flex;
    justify-content: space-between;
}
.comic-news1{
    width: 542.5px;
    height: 200px;
    border-radius: 5px;
}
.comic-news-img{
    width: 542.5px;
    height: 200px;
    border-radius: 5px;
}
.comic-news-img-container{
    width: 542.5px;
    height: 200px;
}
.comic-bottom-container{
    width: 542.5px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comic-share-comment-container{
    width: 542.5px;
    height: 22px;
    display: flex;
    opacity: 0.4;
}
.comic-share-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.comic-share-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.comic-comment-container{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    margin-right: 30px;
}
.comic-comment-icon{
    width: 14.5px;
    height: 14px;
    margin-right: 5px;
    opacity: 0.5;
}
.comic-news-text{
    margin: 0;
    font-size: 16px;
    font-family: Manrope;
    font-weight: 600;
}
.comic-share-comment-container{
    width: 5.5px;
    height: 20px;
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #f1f1f1;
}
.huge-black-back{
    width: 100vw;
    height: 767.844px;
    background-color: black;
    margin-top: 120px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.black-news-container{
    width: 1100px;
    height: 717.844px;
    border: 1px solid white;
}
/* Hover */

.middle-news-container:hover{
    cursor: pointer;
}
.middle-news-container:hover .news-img-container img{
    transform: scale(1.09);
}
.middle-news-container:hover .middle-hover{
    opacity: 0.4;
}
.middle-news-container:hover .middle-hover-text{
    opacity: 1;
}
